<div class="input-files-container">
<h2>{{title}}</h2>
<div class="input-files-box" (dragover)="onDragOver($event)" (drop)="onDrop($event)">
  <input id="input-files" type="file" (change)="onFileChange($event)" multiple>
  <label for="input-files" class="input-files-label">
    <img src="../../assets/drop-icon.svg" alt="drop-icon"> <br>
    Drag and drop file here <br>
    <span>or</span>
    <p>Select files</p>
  </label>
</div>
  
  <ul>
    <li *ngFor="let file of files; let i = index" >
      {{ file.name }} <img src="../../assets/delete-icon.svg" alt="delete-icon" (click)="handleRemove(i)">
    </li>
  </ul>
</div>


